# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database (не копируем БД в образ)
*.db
tasks.db

# Docker
Dockerfile
.dockerignore

# Docs
README.md
*.md
